
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/RopaSoftPro-Light/font.woff);
  }

  * {
    font-family: myFirstFont;
  }
  
  #wrapper {
    overflow-x: hidden;
  }
  
  #icons {
    padding-right: 1%;
  }
  
  .card-link {
    color: white;
  }
  
  #card-text {
    color: black;
    font-size: 50%;
  }

  #required {
    color:red;
  }

  .count {
    font-size: 70px;
  }
  
  .card-header {
    background-color: #1b2d5d;
    color: white;
  }

  .card-title {
    text-align: center;
  }

  .download-icon {
    color: black;
  }

  .download-icon:hover {
    color: #1b2d5d;
}
  
  ul {
    list-style-position: inside;
  }
  
  li {
    text-align: left;
    list-style: inside;
  }
  
  .card-header {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  .card-rectangle {
    background-color: #1b2d5d;
    color: white;
  }
  
  .modal-header {
    background-color: #1b2d5d;
    color: white;
  }
  
  .modal-content {
    color: black;
  }
  
  a:hover {
    color: yellow;
  }

  a.landing:hover {
    color: yellow;
  }
  
  .thead-blue {
    background-color: #1b2d5d;
  }

  .text-primary {
    background-color: #1b2d5d;
  }
  
  .list-group-item {
    background-color: #1b2d5d;
  }
  
  a.list-group-item:hover{
    background: rgb(0,0,0);opacity:0.2;
    }
  
  a.list-group-item.active{
    background: rgb(0,0,0);opacity:0.2;
    }
  
    .border-left-primary {
      border-left: 0.25rem solid #4e73df !important;
    }
    
    .border-bottom-primary {
      border-bottom: 0.25rem solid #4e73df !important;
    }
  
    .border-left-secondary {
      border-left: 0.25rem solid yellow !important;
    }
    
    .border-bottom-secondary {
      border-bottom: 0.25rem solid #858796 !important;
    }
    
    .border-left-success {
      border-left: 0.25rem solid #1cc88a !important;
    }
    
    .border-bottom-success {
      border-bottom: 0.25rem solid #1cc88a !important;
    }
  
    .btn-primary {
      background-color: #1b2d5d;
    }
  
    .dark-blue-text {
      color: #000000;
      }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  