@font-face {
   font-family: 'RopaSoftPro-Light';
   font-display: swap;
   src: url('file:///F:/Programming%20Projects/Website/Mobirise/nust/admission/nust_admissions/fonts/RopaSoftPro-Light/font.woff');
}
